@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}


body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* ---------------------------------------------------
   GLOBAL BODY STYLING
----------------------------------------------------- */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #CBD5E1; /* Default site background */
}

/* ---------------------------------------------------
   CUSTOM UTILITIES
----------------------------------------------------- */

/* Paragraph color */
@utility text-ptext {
  color: var(--color-ptext);
}

/* Subtitle / description color */
@utility text-subtext {
  color: var(--color-subtext);
}

/* Heading color (H1, H2, sections, titles) */
@utility text-h1 {
  color: var(--color-h1text);
}

/* ---------------------------------------------------
   LOGO CAROUSEL ANIMATION
----------------------------------------------------- */
@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 25s linear infinite;
}

/* text-h1 ,  text-subtext , text-ptext */